.draggable-el {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: forestgreen;
    padding: 2px 5px;
    cursor: grab;
    border-radius: 20px;
}

.draggable-el-wurzelknoten {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #00cc69;
    padding: 2px 5px;
    cursor: grab;
    border-radius: 20px;
}

.draggable-el-freierKnoten {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #3399ff;
    padding: 2px 5px;
    cursor: grab;
    border-radius: 20px;
}

.show {
    display: block;
}

.menuOption {
    display: block;
}


.draggable-el-del {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: palegreen;
    padding: 2px 5px;
    cursor: grab;
    border-radius: 20px;
}

.graphenraum {
    width: 33%;
    float: left;
}

#knotenOptionen{
    display: flex;
    gap: 2px;
}

.knotenOpt{
    border:1px solid #000000;
    background-color: 	#DCDCDC;
}

.hauptcontainer{
    width: 100%;
    height: 500px;
}

#verbinden{
    display: flex;
    align-items: center;

}

td{
    width: 33%;
    border: 1px solid black;
    text-align: center;
}

.menue{
    position: relative;
    display: inline-block;
}

.menueOptions{
    display: none;
    position: absolute;
}

.menue p:hover{
    display: block;
    background-color: #444;
}

.menue:hover .menueOptions{
    display: block;
}

.menuOptions p{
    display: block;
    margin: 0;
    padding: 8px 15px;
}

#ueberschriften *{
    user-select: none;
}