.draggable-el {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: forestgreen;
    padding: 2px 5px;
    cursor: grab;
    border-radius: 20px;
}

.dropdown-content {
  display: none;
}

.show {
    display: block;
}

.menuOption {
    display: block;
}


.draggable-el-del {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: palegreen;
    padding: 2px 5px;
    cursor: grab;
    border-radius: 20px;
}