#verbindungsarteingabeform{
    visibility: hidden;
    position: fixed;
    top: 30%;
    left: 30%;
    border: 1px solid black;
    background-color: lightgreen;

    width: 500px;
    height: 200px;
}

#verbformschliessen{
    position: relative;
    color: white;
    background-color: red;
    align-self: center;
}

#verbindungsarteingabeform input, #verbindungsarteingabeform button{
    margin-bottom: 10px;
}